*.class
*.log
.idea/modules.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/libraries
.idea/*.iml
.idea/modules
/src/test/
target\
